.picture-developer{
    width: 30%;
    height: auto;
    border-radius: 100px;
}


@media screen and (min-width: 768px) {
    .picture-developer{
        border-radius: 120px;
        margin: 0 0 0 6rem;
        order: 2;
        width: 25%;
        
    }

}



@media screen and (min-width: 1024px){
}