.element__icon-list{
    width: calc(39vw - 1rem);
    background: var(--white);
    padding: 1.5rem 1rem 1rem;
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
}

.element__icon-list *{
    margin: 1rem 0 0 0;
}