.button{
    padding: .8rem 1.5rem;
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    border: 2px solid var(--blue);
}

.button__experience--repository{
    background-color: var(--lightblue);
    color: var(--blue);
}

@media screen and (min-width: 768px) {
    .button__experience--demo{
        margin-left: 2px;
        width: 30%;
    }
}



@media screen and (min-width: 1024px){
}

